@model IEnumerable<Department>

@{
    ViewData["Title"] = "All Departments";
}

<h1 class="bg-info text-white">All Departments</h1>
<a asp-action="Create" class="btn btn-secondary">Create</a>
<hr />
<table class="table table-sm table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
    </tr>
    @foreach (Department dept in Model)
    {
        <tr>
            <td>@dept.Id</td>
            <td>@dept.Name</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@dept.Id">Update</a>
            </td>
        </tr>
    }
</table>
